/* LAYOUT
=============================================================================*/
	.grid_960{margin:0 auto;width: 960px;}
	#content {margin:0 10px;padding-top:10px}
	.wide-sidebar {width:340px;margin:10px 0 0 10px;}
	#sb1{width:160px;margin:0 10px;_width:154px}
	#sb2{width:160px;margin:0 0 0 10px;_width:154px}
	
	#footer{background:#005078; padding:1em 10px}
	.footer-widgets {width:220px; margin:0 10px }
	
	#content,
	#related-posts,
	#sb-container,#sb1,#sb2,
	.footer-widgets {display: inline;float: left;}
	
	.alpha {margin-left: 0;}
	.omega {margin-right: 0;}