{{- define "main" -}}

<h1 class="mb-14">All Posts</h1>

{{- $allPosts := where site.RegularPages "Type" "posts" -}}
{{- $paginator := .Paginate ($allPosts) -}}

{{- if gt (len $paginator.Pages) 0 -}}
  {{- range $paginator.Pages -}}
    <section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
      <h2 class="my-0!">
        <a href="{{- .Permalink -}}" class="no-underline hover:underline">{{- .Title -}}</a>
      </h2>
      <time class="text-xs antialiased opacity-60"
        >{{- .Date | time.Format ":date_medium" -}}</time
      >
    </section>
  {{- end -}}
  
  <!-- Pagination -->
  {{- if gt $paginator.TotalPages 1 -}}
  <nav class="mt-14 flex">
    {{- if $paginator.HasPrev -}}
    <a class="btn not-prose" href="{{- $paginator.Prev.URL -}}"
      >← Previous</a
    >
    {{- end -}}<!---->
    {{- if $paginator.HasNext -}}
    <a class="btn not-prose ml-auto" href="{{- $paginator.Next.URL -}}"
      >Next →</a
    >
    {{- end -}}
  </nav>
  
  <!-- Page numbers -->
  <div class="mt-6 text-center text-sm opacity-60">
    Page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}
    ({{ $paginator.TotalNumberOfElements }} total posts)
  </div>
  {{- end -}}
{{- else -}}
  <p>No posts found.</p>
{{- end -}}

{{- end -}}
